* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
.name-form,
.name-delBtn {
  display: none;
}

.showing {
  display: flex;
}

.fa-sign-in-alt,
.fa-backspace {
  pointer-events: none;
}
